*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body > header{
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 17px;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
}

header li a:hover{
    text-decoration: underline;
}

.container {
    width: 1366px;
    margin: 0 auto 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    width: 100%;
}

.articles article{
    width: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

section{
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.articles article h3{
    font-size: 21px;
}

section h2{
    font-size: 35px;
}

#sports{
    background-color: rgba(0,255,0,0.1);
}

#sports .articles article a{
    background-color: green;
}

#economy{
    background-color: #e7e597;
}

#economy .articles article a{
    background-color: #ff9f1a;
}

#entretenimento{
    background-color: rgb(221, 178, 221);
    
}

#entretenimento .articles article a{
    background-color: purple;
}

#tecnologia{
    background-color: rgb(118, 118, 243);
}
